@font-face {
  font-family: "Raleway";
  src: url(./RalewayRegular.ttf) format("truetype"),
    url(./Raleway-Regular.woff) format("woff"),
    url(./Raleway-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(./RalewayMedium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(./RalewayBold.ttf) format("truetype"),
    url(./Raleway-Bold.woff) format("woff"),
    url(./Raleway-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}
