body {
  margin: 0 auto;
  max-width: 1100px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}
